.counter{
    height: 98vh;
    width: 100%;
}

.counter__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.counter__number{
    font-size: 10rem;
}

.counter__btn{
    display: flex;
    gap: 1rem;
}

button {
    font-size: 2rem;
}

.counter__input{
    margin-top: 1rem;
}

.counter__input input{
    height: 4rem;
    text-align: center;
    font-size: 2rem;
    width: 10rem;
}